<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body
{
  background-color: #2471A3;
}
</style>
</head>
<body>
<div class="maindiv" style="width:80%;margin-left:140px;">
  <div class="row">
  
	  <div class="col-sm-12" style="height:400px;background-image: url(resources/images/work.jpg);background-size: 100% 100%;">
	   
	  </div>
  </div>
  <div class="row">
  
	  <div class="col-sm-8" style="height:400px;background-color: #2471A3;"><br>
	  <div class="thumbnail">
	  
	   <p style="text-align: center;font-size: 40px;"><b >About</b></p><br>
	   <p style="text-align: center;">
	    As one of the very few profitable pure
	    play internet companies in the country, 
	    ChitChatBlog is  online 
	    classifieds site in recruitment, 
	    social site, Blog, education and related services.
	    
	    </p>
	    <p style="text-align: center;width:50%;margin-left:150px;">
	    ChitChatBlog is a website
	     who makes great use of oversized text,
	      which  utilizes to bring attention to 
	      what we do in a humorous manner. While we 
	      proudly states the companies we have designed 
	      websites for, like E-Commercesite. 
	      we also provides various portal and comes across as very friendly 
	    and approachable, even if you just need a simple website design for your small business.
	    
	    </p>
	  </div>
	  </div>
	  <div class="col-sm-4" style="height:400px;background-color: #2471A3;"><br>
	  <div class="thumbnail">
	   <p style="text-align: center;font-size: 35px;"><b>News</b></p>
	   <ul>
	    <li>Amazon founder Jeff Bezos overtakes Bill Gates as the world’s richest man, again</li>
	    <li>Cloud computing drives massive growth for big US tech firms</li>
	    <li> Portal launched to provide data to people on government projects</li>
	    <li>Guardians of the Internet: An inside view from Microsoft's Digital Crimes Unit </li>
	    <li>Alphabet's mobile ad revenue surges; shares jump</li>
	    <li>Digital innovation in recruitments to be new normal: Report</li>
	    <li>IIT-KGP to host Young Innovators' </li>
	   </ul>
	  </div>
	  </div>
</div>
  
 
  <div class="row" style="background-color: #2471A3;">
    <div class="col-sm-12" style="background-color: #2471A3;">
	  <div class="thumbnail">
	  
	   <p style="text-align: center;font-size: 25px;background-color:#2471A3;color:#fff;"><b > We Work On These Portals</b></p>
	 
	 </div>
	 </div>
	</div>
  
  <div class="row">
     <div class="col-sm-4" style="height:320px;">
	  <div class="thumbnail">
	   
	     <img src="resources/images/blog3.jpg" height="250px" width="310px" >
	    
	    <p><b style="text-align: center;">Job Portal</b></p>
	    </div>
	  </div>
	  <div class="col-sm-4" style="height:320px;">
	  <div class="thumbnail">
	  
	  <img src="resources/images/job2.png" height="250px" width="350px" >
	 
	  <p><b style="text-align: center;">Blog Portal</b></p>
	   </div>
	  </div>
	  <div class="col-sm-4">
	  <div class="thumbnail">
	    <img src="resources/images/friend2.jpg"  width="320px" >
	  
	  <p><b style="text-align: center;">Friend Portal</b></p>
	  </div>
	  </div>
  </div>


</div>
</body>
</html>