<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="resources/css/logindesign.css" rel="stylesheet"/>
</head>
<body>
<p>Enter New Password<p> 

<div class="inner">
               
		<div class="formdiv">			 	
			<form> 
				<div class="passworddiv">	
                  <label style="width:40%;">Enter New Password</label>
                    <input type="password" class="password" placeholder="Enter password" ng-model="user.password" >
	            </div><br>
	            <div class="submitdiv">
	                <input type="submit" value="Change Password" ng-click="newPassword('userForgot.userName')" >  
	             </div>
	         </form>
	    </div>
</div>
</body>
</html>