<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="resources/css/logindesign.css" rel="stylesheet"/>
</head>
<body>
<p>Forgot Password!<p> 

  <div class="inner">
               
		<div class="formdiv">			 	
			<form> 
				<div class="textdiv">	
				 <label> Enter User Name </label>
					<input type="text"  class="username" placeholder="Enter username" ng-model="user.userName" class="form-control" required>
				</div>	
				<div class="textdiv">	
				 <label> Select Question </label>
	                <select ng-model="user.question"  style="width:50%;height:40px;" required="required">
					   <option value=""  selected="selected">Please select a name</option>
					  <option value="Your Petname">Your Petname</option>
					  <option value="Favourite Game">Favourite Game</option>
					  <option value="Favourite Book">Favourite Book</option>
					  <option value="Favourite Teacher Name">Favourite Teacher Name</option>
					</select>
				</div>
				<div class="textdiv">	
				 <label> Enter Your Answer </label>
		          <input type="text" placeholder="Enter answer" ng-model="user.answer" required="required">
                </div>
                
                <br>
				<div class="submitdiv">
				<input type="submit" ng-click="enterUserForForgotPassword()" >
				</div> 
	       
	        </form>
	          <span style="color:red"> {{loginFail.message}}</span>
	        </div>
	        </div>  
</body>
</html>