<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="resources/css/listofjobsdesign.css" rel="stylesheet"/>
</head>
<body>

<div id="tour" class="bg-1">
<h3 style="text-align: left;margin-top:20px;font-size: 20px;letter-spacing: 1px;"> Search
<input type="text" ng-model="searchTxt" style="margin-top:20px;"></h3> <br>
 <h1 style="text-align: center;color:#fff;font-size: 50px;">List Of Jobs</h1>
  <div class="container" >
    
    
    <div class="row text-center" >
      <div class="col-sm-4" ng-repeat="job in jobs | filter:searchTxt">
        <div class="thumbnail">
          <a href="#!getjobdetails/{{job.id}}"><img src="resources/images/i22.jpg" alt="Paris" width="400" height="300"></a>
          <p><strong>{{job.jobTittle}}</strong></p>
          <p><b>Posted On Date:</b>{{job.postedOn | date:'YYYY:MM:dd'}}</p>
        </div>
      </div>
      </div>
      </div>
      </div>
      
</body>
</html>