.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/i3.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/job.jpg");
  min-height: 600px;
}

.bgimg-3 {
  background-image: url("../images/blog4.jpg");
  min-height: 600px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #000;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.banner-text {
    text-align: center;
    padding: 12em 0;
}
.banner-text p {
    font-size: 1em;
    color: #000;
    margin-bottom: 2em;
    letter-spacing: 15px;
}
.banner-text h2,.banner-text h3 {
    color: #000;
    font-size: 6em;
}
.banner-text h5 {
    color: #000;
    font-size: 2em;
    font-weight: 300;
    font-family: 'Cinzel Decorative', cursive;
}
.banner-text span{
    font-size: 0.8em;
    color: #000;
    margin: 3em 0;
	display: inline-block;
}
.banner-text span i.fa{
    margin: 0 7px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 
.w3ls-banner{ 
	background:url(../images/friend.jpg)no-repeat center;
	-webkit-background-size:cover;
	-moz-background-size:cover; 
	background-size:cover;
	position: relative;
}
img.img-responsive {
    width: 100%;
} 

/*
 * jQuery FlexSlider v2.6.1
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0; 
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
} 
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 42%;
    left: 6%;
    z-index: 10;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #fff;
    font-size: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
    border-radius: 50%;
}
.flex-direction-nav a:before {
    font-size: 47px;
    display: block;
    content: "\f104"; 
    font-family: FontAwesome;
    line-height: 47px;
}
.flex-direction-nav a:hover {
    color: #f44336;
    border-color: #f44336;
}
.flex-direction-nav .flex-next {
    right: 6%;
    left: inherit;
}
.flex-direction-nav a.flex-next:before { 
    display: block;
    content: "\f105"; 
    font-family: FontAwesome; 
}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -50%;
    text-align: center;
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 35px;
  height: 5px;
  display: block; 
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.flex-control-paging li a:hover {
  background: #fff; 
}
.flex-control-paging li a.flex-active {
  background: #fff;
  cursor: default;
}
 
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
 
@media screen and (max-width: 1280px) { 
	.flex-direction-nav a { 
		top: 33%; 
	}
}
@media screen and (max-width: 991px) {
	.flex-direction-nav a { 
		left: 3%; 
	}
	.flex-direction-nav .flex-next {
		right: 3%; 
	}
	.flex-control-nav { 
		bottom: -59%; 
	}
}
@media screen and (max-width: 768px) {
.flex-control-nav {
    bottom: -43%;
} 
} 
@media screen and (max-width: 480px) {
.flex-control-paging li a {
    width: 29px;
    height: 5px;
} 
.flex-direction-nav a:before {
    font-size: 30px; 
    line-height: 36px;
}
.flex-direction-nav a { 
    width: 40px;
    height: 40px; 
}
}
@media screen and (max-width: 414px) {
.flex-direction-nav a:before ,.flex-direction-nav a.flex-next:before{
    font-size: 28px; 
	line-height: 38px;
}
.flex-direction-nav a { 
    width: 40px;
    height: 40px; 
}
.flex-control-nav {
    bottom: -55%;
}
}
/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.col-sm-4
{
	width:350px;
	heigth:250px;
}
.imgdiv
{
  position: relative;	
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #ffffff;
    cursor: default;
    background: #0066b2;
    border: solid 2px #0066b2;
}
.nav-tabs > li > a {
      margin-right: 3px;
    font-size: 1em;
    color: #ffffff;
    border: solid 2px #040404;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: .5em 1em;
    background: #040404;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
    border-bottom: none;
    margin: 4em 0;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 10px;
    float: none;
    display: inline-block;
}
.nav-tabs > li > a:hover {
    color: #FFFFFF;
    background: #0066b2;
    border: solid 2px #0066b2;
}
.agile-gallery-info{
    padding: 1em;
    background: #ffffff;
    margin-bottom: 1em;
    border-bottom: solid 3px #555;
    
}
.agile-gallery-info h5{
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}
.agile-gallery-info p{
       color: #555;
    font-size: .9em;
    line-height: 1.8em;
    margin: .5em 0 0 0;
}
.agile-gallery-info{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.w3_tab_img_left:hover .agile-gallery-info{
    border-bottom: solid 3px #0066b2;
}
.w3_tab_img_left:hover .agile-gallery-info p{
    color:#0066b2;
}